* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
}

body {
  display: block;
  position: relative;
  font-family: "Roboto Flex", sans-serif;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.no-outline {
  outline: none;
}

.no-border {
  border: none;
}

.border {
  border: 1px solid black;
}

.uc {
  color: #669acc;
  margin: 500px 0 0 620px;
  font-size: 3rem;
  font-weight: 800;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

/**************** HEADER ****************/

header {
  top: 0;
  width: 100%;
}

ul {
  list-style: none;
}

li {
  margin: auto;
}

.burger {
  height: 40px;
  width: 40px;
  margin: auto;
  font-size: 26px;
  cursor: pointer;
  background-color: inherit;
  border: none;
}

.list-left {
  gap: 30px;
  font-size: 1.2em;
  font-weight: 600;
}

.list-right {
  gap: 52px;
  font-size: 1em;
  font-weight: 600;
}

.top-logo {
  width: 55px;
  height: 55px;
}

#show-login {
  background: #f26835;
  border-radius: 30px;
  padding: 14px;
  font-size: 1em;
  outline: none;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

#show-login:hover {
  transform: scale(1.1);
}

@media (min-width: 1440px) {
  .header-container {
    border: 1px solid black;
    width: 1440px;
    margin: auto;
    padding: 1.3rem;
  }
}

/**************** NAV EXTENSION ****************/

.nav-map {
  /* border: 1px solid black; */
  background-color: #003344;
  text-align: center;
  width: 1340px;
  height: 400px;
  margin: auto;
}

/**************** SECTION ONE ****************/

.section-one {
  background: url("./resources/section-one-cover.jpg") no-repeat center;
  border: 1px solid black;
  width: 100%;
  height: 700px;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  border: 1px solid black;
}

/**************** COLLAPSIBLE ****************/

.collapsible {
  max-width: 1100px;
  overflow: hidden;
  font-weight: 500;
}

.collapsible #collapsbile-head {
  display: none;
}

.collapsible label {
  position: relative;
  font-size: 600;
  background: #fff;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 11px 0 rgba(0, 0, 0, 0.08);
  color: #003344;
  display: block;
  /* margin-bottom: 10px; */
  cursor: pointer;
  height: 160px;
  padding: 15px;
  border-radius: 4px 4px 0 0;
  z-index: 1;
}

.collapsible label:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 18px;
  transition: all 0.5s ease;
  background: url("/rent-car/resources/caret-right.svg") no-repeat 0 0;
}

.collapsible input:checked + label:after {
  transform: rotate(90deg);
}

.collapsible-text {
  max-height: 1px;
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  line-height: 1.4;
  position: relative;
  top: -100%;
  opacity: 0.5;
  transition: all 0.5s ease;
}

.collapsible input:checked ~ .collapsible-text {
  max-height: 300px;
  padding-bottom: 25px;
  background: #fff;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 11px 0 rgba(0, 0, 0, 0.08);
  opacity: 1;
  top: 0;
}

.collapsible-text h2 {
  margin-bottom: 10px;
  padding: 15px 15px 0;
  color: #669acc;
}

h3 {
  font-size: 1.6em;
  margin-left: 12px;
}

.collapsible-text p {
  margin-left: 15px;
  padding-right: 15px;
}

.location-date {
  border: 1px solid black;
  margin: 24px;
}

.prpr-wrapper {
  /* border: 1px solid black; */
  margin-top: 20px;
}

.prpr {
  gap: 15px;
}

.prpr-hr {
  margin-top: -5px;
  width: 100%;
}

.show-cars-btn {
  background-color: #f26835;
  color: white;
  opacity: calc(70%);
  font-size: 18px;
  font-weight: 600;
  padding: 10px 32px 10px 32px;
  border-radius: 3px;
  cursor: not-allowed;
  margin: auto;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: #333;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
