* {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("/rent-car/resources/login_cover2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #064157;
}

.box {
  min-height: 90vh;
  align-items: center;
}

.container {
  width: 350px;
  padding: 0 15px 0 15px;
}

span {
  color: #fff;
  font-size: small;
  padding: 10px 0 10px 0;
}

header {
  color: #fff;
  font-size: 30px;
  padding: 10px 0 10px 0;
}

.input {
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #fff;
  padding: 0 0 0 42px;
  background: rgba(255, 255, 255, 0.1);
}

i {
  position: relative;
  top: -31px;
  left: 17px;
  color: #fff;
}

::-webkit-input-placeholder {
  color: #fff;
}

.submit {
  border: none;
  border-radius: 30px;
  font-size: 15px;
  height: 45px;
  width: 100%;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s;
}

.submit:hover {
  box-shadow: 1px 5px 7x 1px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: all ease-in-out 0.3s;
}

.bottom {
  font-size: small;
  color: #fff;
  margin-top: 10px;
}

label a {
  color: #fff;
  text-decoration: none;
}
